{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ titre }}</h1>
        <section>
            <article class="cateart">
                {% for element in categorie %}
                    <div class="ListeN1">
                        <h4>{{ element.name }} </h4>
                        <div>
                            <a href="{{ path('Categorie_detail') }}?id={{ element.id }}">
                                <img src="../assets/{{ element.image }}" alt="">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </article>
            <h3> Nos Genre </h3>
            <article class="cateart">
                {% for item in genre %}
                    <div class="ListeN1">
                        <h4>{{ item.nom }} </h4>
                        <div>
                            <a href="{{ path('Genre_detail') }}?id={{ item.id }}">
                                <img src="../assets/{{ item.image }}" alt="">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </article>
        </section>
    {% block footer %}
    {% endblock footer %}
{% endblock %}