{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <article class="cat_detail">

            <div class="cat_det">
                {% for item in genres %}
                    <h1>{{ item.nom }}</a></h1>
                    <p><img src="{{ item.image }}" alt=""></p>
                    <h3>Genre : {{ item.nom }} </h3>
                    <h5>{{ item.description }}</h5>
                {% endfor %}
            </div>
            <div class="cat_prod">
                {% for element in produits %}
                <h2> Produit du genre : {{ element.nom }} </h2>

                <div class="main_prod">
                    <div class="cat_prod">
                        <p>{{ element.nom }}</a></p>
                        <a href="produits_detail.php?id={{ element.id }}"><img src="{{ element.image }}.jpg" alt=""></a>
                        <p>{{ element.description }}</p>
                        {% if element.note != 0 %}
                            <p>Note : {{ element.note }} </p>
                        {% else %}
                            <p>Note : Pas encore noté </p>
                        {% endif %}
                        <p>Prix : {{ element.prix }} € </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </article>
    </section>

{% endblock %}