{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ titre }}</h1>
    {% block main %}
        <section>
            <article>
                <h3> Produits Aléatoire : </h3>
                <div class ="randProd">
                    <ul>
                        {% for element in produits %}
                            <div>
                                <li><a class="ignore" href="produitUnique.html.twig?{{ element.id }}"><img src="../assets/{{element.image}}.jpg"></a></li>
                                <p> Nom :{{element.nom}} </p>
                                <p> Prix :{{element.prix}}€ </p>
                                <p> Note des utilisateurs :{{element.note}}/5 </p>
                                </li>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </article>
        </section>
    {% endblock main %}
{% endblock %}